.games {
    display: flex;
    justify-content: center;
    
}
.Container{
    width: 100%;
    height: 100%;
}
.ChatMessage{
    display:block;
    background-color: burlywood;
    text-align: left;
}
.ChatWindow{
    
    height: 50vh;
    border-radius: 20px;
    border-color: black;
    border-style: solid;

    scroll-snap-align: start;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
